<h1 class="display-5">redactor a cat</h1>
<form action="/cats/red/{{this.id}}" method="post" enctype="application/x-www-form-urlencoded">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      id="formGroupExampleInput"
      value="{{this.name}}"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">age</label>
    <input
      type="text"
      class="form-control"
      name="age"
      id="age"
      id="formGroupExampleInput2"
      value="{{this.age}}"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">color</label>
    <input
      type="text"
      class="form-control"
      name="color"
      id="color"
      id="formGroupExampleInput2"
      value="{{this.color}}"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">gender</label>
    <input
      type="text"
      class="form-control"
      name="gender"
      id="gender"
      id="formGroupExampleInput2"
      value="{{this.gender}}"
    />
  </div>
   <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">length</label>
    <input
      type="text"
      class="form-control"
      name="length"
      id="length"
      id="formGroupExampleInput2"
      value="{{this.length}}"
    />
  </div>
   <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">weight</label>
    <input
      type="text"
      class="form-control"
      name="weight"
      id="weight"
      id="formGroupExampleInput2"
      value="{{this.weight}}"
    />
  </div>
   <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">height</label>
    <input
      type="text"
      class="form-control"
      name="height"
      id="height"
      id="formGroupExampleInput2"
      value="{{this.height}}"
    />
  </div>
   <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">price</label>
    <input
      type="text"
      class="form-control"
      name="price"
      id="price"
      id="formGroupExampleInput2"
      value="{{this.price}}"
    />
  </div>
      <div class="mb-3">
      <a href="/cats"><input type="submit" value="redactor" class="btn btn-info"></a>  
    </div>
</form>
